.body{
    margin: 0;
}

.main {
    display: grid;
    align-items: center;
    justify-items: center;
    background-image: linear-gradient(to right,rgb(5, 12, 1),rgb(24, 109, 7), Black);
    height: 100vh;
    color: white;
}

.button-question {
    width: 60%;
    height: 90%;
    background-image: radial-gradient(rgb(113, 113, 113), rgb(129, 129, 129), rgb(145, 145, 145));
    border-radius: 10px;
    align-items: center;
    justify-items: center;
    border: 3px, solid, black;
}

h2 {
    color: white;
    text-shadow: 3px -3px 0 #000, -3px 3px 0 #000;
}

#q1, #q2, #q3 {
    display: none;
    margin: 0;
    width: 60%;
}