.body{
    margin: 0;
}

.main {
    display: grid;
    align-items: center;
    justify-items: center;
    background-image: radial-gradient(white, yellow ,rgb(252, 6, 6), rgb(64, 7, 234), rgb(23, 1, 32));
    height: 100vh;
    color: white;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.europapress.es%2Ffotoweb%2Ffotonoticia_20230331165954_1200.jpg&f=1&nofb=1&ipt=7b29ffede4e90c2dba25c6150def36647a5dbbbd17ad6a2194e5a13d74262f4e');
}

.button-question {
    position: relative;
    width: 60%;
    height: 90%;
    background-image: radial-gradient(rgb(96, 95, 95), red);
    border-radius: 50px; 
    align-items: center;
    justify-items: center;
    padding: 5px;
}

.button-question::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px; 
    padding: 10px; 
    background:radial-gradient(circle, gray, black);
    mask: 
    linear-gradient(#000 0 0) content-box, 
    linear-gradient(#000 0 0);
    mask-composite: exclude; 
}

h2 {
    color: white;
    text-shadow: 3px 3px 3px #3aff04;
}

#q1, #q2, #q3 {
    display: none;
    margin: 0;
    width: 60%;
}
