.body{
    margin: 0;
}

img {
    width: 300px;
    height: 300px;
}

.main {
    display: grid;
    place-items: center;
    background-image: linear-gradient(to right,rgb(5, 12, 1),rgb(24, 109, 7), Black);
    height: 100vh;
    color: white;
}

.contact-div {
    width: 80%;
    height: 90%;
    background-color: darkgrey;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

p {
    width: 50%;
    height: 50%;
    background-color: gray;
    align-content: center;
    text-align: center;
    border-radius: 100px;
    color: black;
    text-shadow: 3px -3px 0 #ffffff, -3px 3px 0 white;
}