* { box-sizing: border-box; }

/*Fuentes*/
@font-face {
  font-family: 'rice';
  src: url('fuentes/RiceBall.otf') format('truetype');
}

@font-face {
  font-family: 'title';
  src: url('fuentes/HangedLetters.ttf') format('truetype');
}

@font-face {
  font-family: 'seagram';
  src: url('fuentes/Seagram.ttf') format('truetype');
}

@font-face {
  font-family: 'sevesbrg';
  src: url('fuentes/sevesbrg.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'Arial Black', sans-serif;
    
    overflow-x: hidden;
    color: white
}


.main-header {
    background : linear-gradient(red, 20%, rgb(112, 1, 1), 70%, red);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-text { 
    font-size: 2rem; 
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
    font-family: 'title';
}

.logo-text:hover { transform: scale(1.1); }

.top-nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 15px;
    font-size: 0.9rem;
    font-family: 'seagram';
}


.hero-banner {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), 
                url('https://images.unsplash.com/photo-1513104890138-7c749659a591?auto=format&fit=crop&w=1500&q=80') center/cover;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-title {
    font-size: clamp(2rem, 8vw, 4.5rem);
    margin: 0;
    text-shadow: 3px 3px 10px rgba(49, 218, 27, 0.8);
    font-family: 'sevesbrg';
}

.hero-subtitle {
    margin: 0;
    text-shadow: 3px 3px 10px rgba(234, 43, 29, 0.8);
    
}

.category-bar {
    background: linear-gradient(#01500ef9, 30%, #02a83f, 70%, #01540ff9);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.cat-btn {
    background: linear-gradient(90deg, #fffffff9, #b8b8b8);
    border: none;
    padding: 8px 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cat-btn:hover {
    background: linear-gradient(90deg, #848383f9, #030303);    color: white;
}

.search-container {
    position: relative;
    margin-left: 20px;
}

#menuSearch {
    margin-left: 20px;
    padding: 10px 15px;
    border-radius: 25px;
    border: 2px solid rgb(0, 0, 0);
    outline: none;
    width: 220px;
    background: linear-gradient(90deg, #fffffff9, #cac9c9);
}

.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, #fffffff9, #b8b8b8);
    border-radius: 10px;
    margin-top: 5px;
    max-height: 250px;
    overflow-y: auto;
    z-index: 2000;
    box-shadow: 5px 5px 5px rgb(91, 91, 91);
    display: none;
}

.search-item {
    padding: 10px;
    color: #333;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    text-align: left;
    font-size: 0.9rem;
    font-family: Arial, sans-serif;
}

.search-item:hover { background-color: #f0f0f0; color: red; }



.inicio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: left;
}


.inicio-container-reverse {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 40px 20px;
    text-align: right; 
}

#Inicio {
display: block; 
    padding: 60px 30px;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
                url('https://media.istockphoto.com/id/514467132/es/foto/tradicional-de-horno.jpg?b=1&s=612x612&w=0&k=20&c=-D-4MZ0pzN_WO8DLQXfdxMw4J2d1aykg1Y4lxZSXtPY=') center/cover fixed;
    margin-bottom: 0;
}

#promociones {
display: block; 
    padding: 60px 30px;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
                url('https://media.istockphoto.com/id/1441253725/es/foto/el-chef-pone-la-margherita-cuatro-quesos-o-pizza-de-carne-en-una-pala-en-el-horno-un-horno-de.jpg?s=612x612&w=0&k=20&c=Gu2c0GvHNUelNwPW581ZFfiSDPE7se1qCsAo18QB2sg=') center/cover fixed;
    margin-bottom: 0;
}

#pizzas {
display: block; 
    padding: 60px 30px;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
                url('https://img.freepik.com/premium-photo/delicious-pepperoni-pizza-dark-background-sausage-pizza-italian-pepperoni-pizza-pizzeria_79782-5023.jpg?semt=ais_hybrid&w=740&q=80') center/cover fixed;
    margin-bottom: 0;
}

#entrantes {
display: block; 
    padding: 60px 30px;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
                url('https://www.periodistadigital.com/wp-content/uploads/2010/11/nuggets-intro.jpg') center/cover fixed;
    margin-bottom: 0;
}

#bebidas {
display: block; 
    padding: 60px 30px;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
                url('https://media.istockphoto.com/id/157636846/es/foto/fizz.jpg?s=612x612&w=0&k=20&c=QfZwok1E3dKDlmG1ZzWuSlqFfyIXVlLmTyCBT9ri03c=') center/cover fixed;
    margin-bottom: 0;
}

#postres {
display: block; 
    padding: 60px 30px;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
                url('https://static.vecteezy.com/system/resources/thumbnails/070/283/854/small/a-white-plate-with-a-bunch-of-different-desserts-photo.jpg') center/cover fixed;
    margin-bottom: 0;
}

.inicio-texto {
    flex: 1;
}

.inicio-imagenD {
    flex: 1;
    display: flex;
    justify-content: center;
}



.imgInicioD, .imgInicioI  {
    border: 5px solid white;
    box-shadow: 2px 2px 10px black;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    transition: transform 0.4s ease;
}

.imgInicioD:hover {
    transform: scale(1.05) rotate(-2deg);
}

.imgInicioI:hover {
    transform: scale(1.05) rotate(2deg);
}


.container-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px;
}

.menu-card {
    flex: 1;
    min-width: 350px;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reserva-btn-main {
    display: inline-block;
    background-color: #1eb120;
    color: white;
    padding: 12px 35px;
    border-radius: 50px;
    text-decoration: none;
    margin-top: 20px;
    font-weight: bold;
    border: 2px solid white;
    transition: 0.3s;
}

.slider-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

.menu-section {
    padding: 30px;
    margin-bottom: 20px;
    text-align: center;
    display: none;
}

#Inicio { display: block; }


.pizza-image img, .bebida-image img, .entrante-image img, .postre-image img {
    max-width: 100%; 
    height: 250px;
    width: 350px;
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    transition: transform 0.3s ease;
}

.pizza-image img:hover, .bebida-image img:hover, .entrante-image img:hover, .postre-image img:hover {
    transform: rotate(5deg);
}


.flecha-btn, .flecha-btn-2 {
    color: #000;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #000;
    width: 50px;
    height: 50px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: transform 0.3s ease;
}

.flecha-btn { background: linear-gradient(90deg, #ff0202f9, #7d0303); }
.flecha-btn-2 { background: linear-gradient(90deg, #37d70b, #034804); }

.flecha-btn:hover { transform: scale(1.1); background: linear-gradient(90deg, #d75050f9, #ff0000); }
.flecha-btn-2:hover { transform: scale(1.1); background: linear-gradient(90deg, #4dd727, #048a06); }


.info-box {
    background: linear-gradient(to right, red, 20%, #f6f9f6, #057b05);
    border-radius: 20px;
    border: 10px solid rgb(13, 13, 13);
    padding: 20px;
    color: #000;
    width: 590px;
    height: 500px;
}

.section-title {
    background: linear-gradient(to right, red, 20%, #f6f9f6, #057b05);
    border-radius: 20px;
    border: 6px solid #000000;
    color: #000;
    padding: 10px 20px;
    width: 100%;
    margin-bottom: 15px;
    font-family: 'rice';
}


@media (max-width: 768px) {
    .inicio-container, .inicio-container-reverse {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    
    .inicio-container-reverse {
        flex-direction: column-reverse; 
    }
}
