.body{
    margin: 0;
}

.main {
    display: grid;
    place-items: center;
    background-image: linear-gradient(to right,rgb(5, 12, 1),rgb(24, 109, 7), Black);
    height: 100vh;
    color: white;
}
